<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div>
        <a href="/">Главная</a> 
        <a href="/RTX4000">4060 КАЙФ ВИДЯХА</a>
        <a href="/RTX5000">5000 КАЙФ ВИДЯХА</a>
    </div>
    {% block content %}
        пустота
    {% endblock %}
</body>
</html>