{% extends "__layout.twig" %}

{% block content %}
    <div class="card p-4 shadow-sm">
        <h1>{{ title }}</h1>
        
        <ul class="nav nav-pills mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/{{ title }}/image">Картинка</a>  
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/{{ title }}/info">Описание</a>
            </li>
        </ul>
<hr>

        {% block objectContent %}
        {% endblock %}  
    </div>
{% endblock %}
