{% extends "__layout.twig" %}

{% block content %}
<h1 class="mb-4">Мир видеокарт</h1>

<div class="row">
    {% for object in videocards_object %}


        {% set item_with_url = object|merge({'url': '#'}) %}
        
        {% include "_gpu_card.twig" with {'item': item_with_url} %}
    {% endfor %}

</div>

{% endblock %}