{% extends "__layout.twig" %}

{% block content %}
<h1 class="mb-4">Мир видеокарт</h1>

<div class="row">
    {% for object in videocards_object %} 
        
        {% include "_gpu_card.twig" with {'item': object} %}
        
    {% endfor %}

</div>

{% endblock %}