{% extends "__object.twig" %}

{% block objectContent %}
    <h3>Характеристики RTX 4000</h3>
    <p>Отличная серия видеокарт! Она обладает мощным графическим процессором и большим объемом видеопамяти, что обеспечивает плавный игровой процесс.</p>
{% endblock %}