{% extends "__object.twig" %}

{% block objectContent %}
    <h3>Характеристики RTX 5000</h3>
    <p>Флагманское семейство видеокарт нового поколения. Поддерживает новейшие технологии трассировки лучей и DLSS 3.0.!</p>
{% endblock %}